.homepage-bgimage {
    background: url('../../client/src/assets/shop.jpg');
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
  }

  .home{
    background: url('../../client/src/assets/boy.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .page-bgimage {
    background: url('../../client/src/assets/books1.jpg');
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }